[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]

[scripts]
server = "python server.py"
client = "python client.py"

[requires]
python_version = "3.10"
